.header {
    height: 45vh;
    width: 100%;
    background-color: #e7e8eb;
    margin-bottom: 4rem;
}

.link {
    padding-top: 10rem;
}

.link a {
    text-decoration: none;
    font-size: .7rem;
    color: black;
    font-weight: 600
}

.link h6 {
    font-size: 2rem;
    font-weight: 700
}

.padge-react {
    top: 24px;
    right: 158px;

}

.icon-sec {
    gap: .5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;
}

.icon-sec h3 {
    font-weight: 900;
    font-size: 1.3rem;
}

.icon-sec i {
    font-weight: 900;
}

.category-item {
    font-size: .2rem;
    color: gray;
    background-color: #efefef;
    width: 100%;
    margin-top: -.3rem;
}

.category-item a {
    color: gray;
    text-decoration: none;
}

.category-item h6 {
    margin-left: .5rem;
    font-size: .9rem;
    padding: .6rem;
}

.category-item:hover {
    background-color: #d5d6d7;
}

.avilbilty-icon,
.product-icon {
    gap: .5rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: .8rem;
}

.Avilbilty h6,
.product-type h6 {
    font-weight: 700;
}

.stock {
    color: gray;
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: .5rem;
}

/* Left-section */
.swip {
    text-align: end;
    color: white;
    margin-bottom: .7rem;
}

.swip .normal {
    padding: .6rem;
    background-color: #bbbaba
}

.activ {
    padding: .6rem;
    background-color: black;
}

.swip i {
    cursor: pointer;
}

.left-sec .new-products {
    display: flex;
}

.Noraml-section {
    display: none;
}

/* Description */
.Normal-sec {
    padding: .5rem;
    border: 1px solid #0000000d;
    margin-bottom: 1rem;
}

.item,
.tag-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.item-img img {
    width: 100%;
}

.item-name {
    margin-bottom: .5rem;
    font-weight: 700;
    color: gray;
    font-size: .7rem;
}

.rate {
    margin-bottom: .5rem;
    width: 5rem;
}

.price {
    font-size: .9rem;
}

.item-des {
    color: gray;
    font-size: .9rem;
}

.Normal-sec:hover {
    cursor: pointer;
    box-shadow: -1px 1px 1px 6px #0000001a;

}

/* Tag-sec */
.des-tags {
    height: 27rem;
    width: 100%;
    background-color: #f2f2f2;
    margin-top: 8rem;
    padding-top: 4rem;
}

.tag-btn {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.tag-icon {
    gap: 0.5rem;
    align-items: baseline;
}

.tag-btn button {
    color: gray;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #0000002e;
    font-size: .6rem;
    padding: .9rem;
}

.tag-btn button:hover {
    background-color: #0a5d5dfc;
    color: white;
}

.tag-des h5 {
    font-weight: 800;
    font-size: 1.7rem;
    margin-top: 4rem;
}

.tag-des p {
    font-weight: 400;
    color: gray;
    font-size: .8rem;
}

/* Pay */
.payment {
    margin: 4rem 0;
}

.pay-img {
    gap: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pay-img img {
    width: 2rem;
}

.Payment-des {
    font-weight: 400;
    color: gray;
    margin-top: .9rem;
    font-size: .8rem;
    text-align: center;
}

/* Product-vies */
.product-view h2 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #0a5d5dfc !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 35%) !important;
}



.Normal-sec .item-img {
    width: 30% !important;
}

.right-sec {
    position: sticky;
    top: 11%;
    bottom: 0;
    height: 802px;
}

main {
    overflow: visible;
}

.New-des {
    text-align: center;
    margin-left: -5rem;
}


@media screen and (max-width:1200px) {
    main {
        overflow: visible;
    }

    .collection-sec {
        position: relative;
    }

    .right-sec {
        position: sticky;
        top: 11%;
        bottom: 0;
        height: 802px;
    }


    .discount-section {
        width: 25% !important;
    }

    .left-sec .new-products {
        gap: 4rem;
        display: flex;
    }

    .new-products img {
        width: 10rem;
    }

    .New-des {
        text-align: center;
        margin-left: 0rem;
    }

    .link {
        padding-top: 8rem;
    }

    .header {
        height: 70%;
    }


    .move-nabar {
        position: sticky;
        top: 0;
        z-index: 1000;
        height: 10vh;
    }
}

@media screen and (max-width:992px) {
    .padge-react {
        top: 46px;
    }

    .header {
        height: 19vh;
    }

    .right-sec {
        right: 1rem;
    }

    .third-list i {
        font-size: 1.5rem;
    }

    .third-list {
        align-items: baseline;
    }

    .new-products {
        margin-left: -1rem;
    }

    .New-des button {
        margin-bottom: -5rem;
    }

    .header-btn {
        margin-left: .1rem !important;
    }

    .back {
        top: 82rem;
    }
}

@media screen and (max-width:768px) {
    .header {
        height: 24vh;
    }

    .discount-section {
        width: 35% !important;
    }

    .best-swiper .swiper-button-next,
    .best-swiper .swiper-button-prev {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .third-list i {
        font-size: .9rem;
    }

    .third-list {
        gap: 0rem;
    }

    .sidebar-content,
    .sidebar-contentNav {
        width: 60%;
    }

    .link {
        padding-top: 6rem;
    }
}

@media screen and (max-width:476px) {
    .New-des {
        margin-left: 5rem;
        font-size: 1.1rem;
    }

    .discount-section {
        right: 25%;
    }

    .right-sec {
        position: static;
    }

    .New-des h6 {
        font-size: 1.5rem;
    }

    .new-products img {
        width: 19rem;
    }

    .New-des button {
        width: 8rem;
        padding: 1rem;
        font-size: 1.1rem;
    }

    .Normal-sec .item-img {
        width: 100% !important;
    }

    .padge-react {
        width: 16px;
        height: 17px;
        right: 115px;
        top: 37px;
    }

    .third-list {
        gap: 0.5rem;
    }

    .new-products {
        margin-left: 0rem;
    }

    .tag-btn {
        gap: 0rem;
    }

    .des-tags {
        height: 40rem;
    }

    .total-sec {
        top: 5rem;
    }

    .sidebar,
    .sidebar-logo {
        min-height: 160vh;
    }

    .sidebar-content,
    .sidebar-contentNav {
        width: 70%;
        height: 160vh;
    }

    .link {
        padding-top: 5rem;
    }
}

@media screen and (max-width:300px) {
    main {
        overflow: hidden;
    }

    .list,
    .second-list,
    .third-list {
        padding: 1rem 0;
    }

    .padge-react {
        right: 83px;
    }

    .new-products {
        margin-left: -3rem;
    }

    .header-btn {
        margin-left: -0.8999999999999999rem !important;
    }
}