/* Product-item */
.Product-Item {
    margin-top: 4rem;
    margin-bottom: 8rem;
}


.product-img img {
    margin-top: -13rem;
    width: 30rem;
    object-fit: cover;
}

.Product-Des h6 {
    margin-bottom: 1.5rem;
    font-weight: 800;
    font-size: 1.2rem;
}

.Product-Des img {
    /* width: -15rem; */
    margin-bottom: 1rem;
    height: 1rem;
}

.padge-react {
    top: 33px;
    right: 158px;

}


.proudct-price {
    margin-bottom: .5rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}


.proudct-price span {
    font-weight: 700;
    color: #8080806e;
    text-decoration: line-through;
}

.proudct-price h5 {
    font-weight: 700;
}

.about-product {
    width: 70%;
    color: gray;
    margin-bottom: 1.5rem;
}

.proudct-price button {
    border-radius: 5px;
    font-size: .6rem;
    padding: .4rem;
    color: white;
    background-color: #ff6400;
}

.progress {
    height: 2%;
    width: 60%;
}

.product-type {
    color: gray;
    font-weight: 500;
    font-size: .8rem;
    margin: .5rem 0 1.5rem 0;
}

.product-type span {
    font-weight: 800;
}

.kind {
    margin-bottom: 1rem;
    gap: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.kind h4 {
    font-weight: 700;
    font-size: .9rem;
}

.kind p {
    font-weight: 400;
    font-size: .7rem;
}

.differnt-kind {
    gap: 4rem;
}

.quntity-Amount h6 {
    font-size: .7rem;
}

.quntity,
.quntity-Amount {
    gap: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.quntity-Amount {
    height: 2.5rem;
    border-radius: 5px;
    padding: .2rem;
    width: 15%;
    font-size: .6rem;
    border: 1px solid #0000001a;
    gap: 2.2rem;
}

.btn-icon {
    color: gray;
}

.Add-btn {
    font-size: .9rem;
    font-weight: 600;
    padding: .6rem;
    color: white;
    width: 45%;
    background-color: #0a5d5dfc;
}

.Add-btn:hover {
    background-color: #062f2ffc;
    ;
}

.Payment-by {
    margin-top: .7rem;
}

.Payment-by button {
    opacity: 60%;
    font-size: .8rem;
    font-weight: 500;
    padding: .5rem;
    width: 61.5%;
    color: blue;
    background-color: #ffcf77;
}

.Payment-by .first-span {
    font-size: 1.1rem;
    display: inline-flex;
    font-weight: 800;
    color: #1313ff;
}

.Payment-by .second-span {
    color: #00bcff;
}

.payment-hr {
    margin: 1.5rem 0 2rem 0;
    width: 61.5%;
}

.payment-visa img {
    margin-bottom: 2rem;
    height: 2.6rem;
}

.order {
    margin-bottom: .5rem;
    font-size: .8rem;
    color: #3c3a3a;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

/* Policy */
.policy-link {
    gap: 3rem;
    display: flex;
    cursor: pointer;
}

.policy-link a {
    font-weight: 700;
    text-decoration: none;
    color: #80808070;
}

.policy-link .active-link {
    color: black;
}

.first-hr {
    border: 1px solid black;
    top: .8rem;
    position: relative;
    opacity: 100% !important;
    color: linear-gradient(to left, black 50%, white 50%);
}

.third-hr,
.socnd-hr {
    border: 1px solid black;
    top: .8rem;
    position: relative;
    opacity: 100% !important;
    color: black;
    display: none;
}

.normal:hover {
    color: black;
}

.main-hr {
    margin: -.3rem 0 1rem 0;
    opacity: 10%;
}

hr {
    opacity: 10%;
}

.policy-dsecription {
    margin-top: 3rem;
    display: block;
}

.policy-dsecription p {
    margin-bottom: 2.5rem;
    color: gray;
    font-size: .9rem;
}

.policy-dsecription ul {
    font-size: .9rem;
    color: gray;
    margin-top: 3rem;
    margin-left: 2rem;
}

.policy-delivery {
    margin-top: 3rem;
    color: gray;
    font-size: .9rem;
    display: none;

}

.policy-shiping {
    margin-top: 3rem;
    color: gray;
    font-size: .9rem;
    display: none;
}

.Based-rate {
    font-weight: 500;
    font-size: .9rem;
    color: #b2b2b2;
    margin: 1rem 0 1.5rem 0;
}

/* Reviews */
.reviews {
    height: 56rem;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 4rem;
    display: flex;
}

.reviws {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
}

.reviews h5 {
    font-weight: 800;
}

.reviews-des h6 {
    font-size: .9rem;
    font-weight: 700;
}

.reviews-des p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #979797;
    font-weight: 500;
    font-size: .8rem;
}


.reviws-product img {
    width: 6rem;
}

.review-rate {
    margin: 1rem 0 .5rem 0;
    color: gray;
    font-weight: 500;
    font-size: .8rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
}

.review-rate img {
    height: 1.4rem;
}

.rate {
    font-weight: 500;
    font-size: .8rem;
    color: #80808070;
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.rate:hover {
    opacity: 50%;
    cursor: pointer;
}

.review-btn {
    height: 3rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: .7rem;
    width: 81%;
    margin-top: 3rem;
    background-color: #0a5d5dfc;
    color: white;
}

.review-btn:hover {
    background-color: #052727fc;
    cursor: pointer;
}

.rate img {
    height: 1rem;
}

.progrss-bar {
    width: 50%;
    height: .5rem;
}

.user-review {
    margin-top: .5rem;
    margin-bottom: .9rem;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.review-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    align-items: center;
}

.review-star {
    height: .8rem;
}

.review-date {
    color: gray;
    font-weight: 500;
    font-size: .7rem;
    margin-top: .5rem;
}

.review-name {
    font-size: .7rem;
}

.review-hr {
    margin: 1rem 0 2rem 0;
}

/* Product-May-Like */
.Product-like h2 {
    text-align: center;
    margin: 4rem 0;
}

.Product-like .Arrival-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.product-like-star {
    height: 1rem;
}

.products-like {
    margin-bottom: 4rem;
}

/* Pay */
.payment {
    margin: 4rem 0;
}

.pay-img {
    gap: .5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.pay-img img {
    width: 2rem;
}

.Payment-des {
    font-weight: 400;
    color: gray;
    margin-top: .9rem;
    font-size: .8rem;
    text-align: center;
}

/* Product-vies */
.product-view h2 {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #0a5d5dfc !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: var(--swiper-navigation-top-offset, 35%) !important;
}

.mys img {
    width: 70%;
    height: 16rem;
    object-fit: cover;
}

.swiper {
    margin-bottom: -16rem;
}

.foot {
    margin-top: 4rem;
}

.nav-hr {
    margin-top: 19rem !important;
}

.product-view {
    margin-bottom: 20rem;
}

.items-image {
    gap: 4rem;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.items-image img {
    margin-top: 1rem;
    width: 8rem;
    height: 24vh;
    position: relative;
    z-index: 10;
}

.thumb-policy {
    margin-top: 14rem;
}

/* ProductDetails2 */
.products-img img {
    height: 50vh;
    width: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
}

.items-img {
    width: 100%;
}

.Product-Des {
    margin-left: -1rem;
}

.Product-like .Arrival-img {
    width: 14rem;
    height: 14rem;
    margin-bottom: 1rem;
}

.New-des {
    margin-left: -4rem;
}

.swiper-item {
    display: flex;
}

@media screen and (max-width:1200px) {
    .items-image {
        gap: 4rem;
        margin-left: 9.9rem;
    }

    .items-image img {
        left: -10rem;
    }

    .swiper.product-img img {
        margin-top: -13rem;
        width: 6rem;
        object-fit: cover;
    }

    .swiper-item {
        gap: 2rem;
    }

}

@media screen and (max-width:992px) {
    .items-image img {
        left: -11rem;
        width: 7rem;
        height: 8vh;
    }

    .payment-visa img {
        height: 2rem;
    }

    .products-like {
        gap: 12rem;
    }

    .discount-section {
        width: 35%;
    }

    .Product-like .Arrival-img {
        width: 22rem;
        height: 29rem;
    }

    .New-des {
        margin-left: 6rem;
        font-size: 1.5rem;
    }

    .New-des h6 {
        font-size: 1.5rem;
    }

    .total-sec {
        top: 36rem;
    }

    .swiper-item {
        gap: 1rem;
    }
}

@media screen and (max-width:567px) {

    .total-sec {
        top: 8rem;
    }

    .product-img img {
        margin-top: 7rem;
        margin-bottom: 11rem;
    }

    .Product-Des {
        margin-left: 4rem;
    }

    .products-like {
        flex-direction: column;
    }

    .reviews {
        height: 97rem;
    }

    .review-img {
        margin-bottom: 1rem;
    }

    .products-like {
        margin-left: 5rem;
    }

    .New-des {
        width: 100%;
    }

    main {
        overflow-x: hidden;
    }

    .swiper .swiper-button-next,
    .swiper .swiper-button-prev {
        display: none;
    }

    .product-img img {
        margin-top: -1rem;
    }

    .items-image img {
        left: -9rem;
        width: 9rem;
        height: 16vh;
    }
}

@media screen and (max-width:467px) {

    .products-like {
        margin-left: -1.8rem;
    }

    .Product-like .Arrival-img {
        width: 29.8rem;
    }

    .New-des {
        width: 21rem !important;
        margin-left: 3rem !important;
    }

    .payment-visa img {
        height: 1.6rem;
    }

    .Product-Des {
        margin-left: 1rem;
    }

    .products-like {
        text-align: center;
    }

    .items-image img {
        left: -11rem;
        width: 7rem;
        height: 16vh;
    }

    .reviews {
        height: 104rem;
    }

    .swiper-item {
        gap: 2rem;
    }
}

body {
    overflow-x: hidden;
}